---
import Layout from '../layouts/Layout.astro';
import sites from '../components/sites.json';
import news from '../components/news.json';

---

<Layout>
	<div class="container">
		<h1>Welcome to bits & Bytes Minecraft!</h1>
		<p class="ip">IP: bnbmc.net</p>
		<i>Must be an active member of the bits & Bytes Discord to join.</i>
		<div class="flex-container">
			<div class="flex-site">
				{sites.map((site) => (
					<div class="site">
						<a href={site.website}>{site.name}</a>
					</div>
				))}
			</div>
			<div class="flex-news">
				<h1>News</h1>
				{news.map((article) => (
					<h2>{article.title}</h2>
					<p>{article.content}</p>
				))}
			</div>
		</div>
	</div>
</Layout>

<style>
	.ip {
		font-size: 1.2em;
	}

	a {
		font-size: 1.1em;
		color: #22b7f1;
		text-decoration: none;
	}

	a:hover {
		color: #4198bc;
		text-decoration: none;
	}

	a:active {
		color: #3f7a91;
	}

	.container {
		padding-top: 2em;
		padding-left: 6em;
		padding-right: 6em;
	}

	.flex-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		margin: 1em;
	}

	.flex-site {
		display: flex;
		flex-direction: column;
	}
	.site {
		background-color: #394049;
		padding: 1.5em;
		margin-bottom: .5em;
	}

	/* Mobile view */
	@media (max-width: 992px) {
		.flex-container {
			display: grid;
			grid: auto auto auto / 1fr;
			margin: 1em;
		}
	}
</style>
